input {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background:hsl(241, 47%, 82%);
    color: hsl(241, 79%, 62%);
    font-weight: bold;
   
    }
