.GetStarted {
  padding: 20px 0;

}

.main-container {
  width: 400px;
  display: flex;
  margin: 0 auto 0 auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: hsl(241, 79%, 62%);
}

.GetStarted-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.CreateAcc {
  color: white;
}

.createAccount {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background-color: rgb(7, 7, 49);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgb(3, 3, 75);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.checkbox-container {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;

  .checkboxInput {
    margin-right: 10px;
    vertical-align: middle;
  }

  label {
    margin: 0;
    line-height: 1.5;
    vertical-align: middle
  }
}

.GetStarted {
  color: white;
}

.GetStarted.dark {
  background-color: rgb(7, 7, 49);

  .CreateAcc {
    color: rgb(7, 7, 49);
}
.logpar {
  color: rgb(7, 7, 49);
  font-weight: 500;
}

p {
  button {
    color: white;
  }
}

  label {
    color: rgb(7, 7, 49);
  }
}


@media only screen and (max-width: 600px) {
  .main-container {
    max-width: 350px;

    .CreateAcc {
      font-size: 1.6rem;
    }
  }
}

@media only screen and (max-width: 450px) {
  .main-container {
    max-width: 320px;

    .CreateAcc {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 400px) {
  .main-container {
    max-width: 280px;

    .CreateAcc {
      font-size: 1.4rem;
    }
  }
}
