@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Quicksand:wght@300..700&display=swap');

//colors



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Quicksand", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.app {
    min-height: 100vh;
    color: hsl(241, 79%, 62%);
    background-color:white;

}
