
.welcome-page {
    display: flex;
    padding: 1%;
    margin: 1%;
}


.left-side {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    h1 {
        margin-bottom: 30px;
        font-size: 3rem;
        color: hsl(241, 79%, 62%);
    }

   button {
        width: 160px;
        height: 40px;
        border-radius: 20px;
        background-color: hsl(241, 79%, 62%);
        color: white;
        font-size: 1rem;
        border: none;

    }
}

.right-side {
    width: 60%;
    position: relative;

    img {
        width: 100%;
        height: auto;
    }

    p {
        position: absolute;
        bottom: 30px;
        right: 15px;
        color: white;
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 800;
        padding: 1%;

    }
    .writer {
        bottom: 10px;
        font-size: 1rem;
        font-weight: 300;
    }
}

.top10 {
    padding: 12px 20px;
    margin: auto;
    margin-bottom: 20px;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background:hsl(241, 47%, 82%);
    color: hsl(241, 79%, 62%);
    font-weight: bold;
    

    button {
        border-radius: 10px;
        background-color: hsl(241, 79%, 62%);;
        color: white;
        width: 120px;
        height: 30px;
    }
}

.crypto-table {
   max-width: 800px;
   margin: auto;
   background:hsl(241, 79%, 62%);
   border-radius: 15px;
   color: white;
}

.table-layout {
    display: grid;
    grid-template-columns: 0.3fr 1.5fr 0.7fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;

    .market-cap {
        text-align: right;
    }

}


.table-layout div {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 35px;
    }
}

.green {
    color: rgb(4, 97, 4);
    text-align: center;
}

.red {
    color: red;
    text-align: center;
}
