.welcome-page {
    position: relative;
    padding-bottom: 2%;

    img {
        width: 100%;
        height: 400px;
    }

    .welcome-text {
        position: absolute;
        padding-bottom: 20px;
        top: 10%;
        left: 25%;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 800;
    }

    h1 {
        margin-bottom: 2%;
        font-size: 3rem;
        color: hsl(240, 85%, 22%);
    }

    .buttons {
        display: flex;
        gap: 30px;
    }
    
    button {
        width: 160px;
        height: 40px;
        gap: 20px;
        border-radius: 20px;
        background-color: white;
        color: hsl(241, 79%, 62%);
        border: none;
        margin-top: 2%;
        font-size: 1rem;

        &:hover {
        background-color: orange;
        color: white;
        }

    }
   
}

/* .quote {
    position: absolute;
    right: 10%;
    color: rgb(238, 231, 231);
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 800;
    padding: 1%;

}
.writer {
    right: 10%;
    font-size: 1rem;
    font-weight: 300;
}

*/

.top10 {
    padding: 12px 20px;
    margin: auto;
    margin-bottom: 20px;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background:hsl(241, 47%, 82%);
    color: hsl(241, 79%, 62%);
    font-weight: bold;

    button {
        border-radius: 10px;
        background-color: hsl(241, 79%, 62%);;
        color: white;
        width: 120px;
        height: 30px;
    }
    
}

.crypto-table {
   max-width: 800px;
   margin: auto;
   background:hsl(241, 79%, 62%);
   border-radius: 15px;
   color: white;
}

.table-layout {
    display: grid;
    grid-template-columns: 0.3fr 1.5fr 0.7fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;

    .market-cap {
        text-align: right;
    }

}


.table-layout div {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 35px;
    }
}

.green {
    color: rgb(4, 97, 4);
    text-align: center;
}

.red {
    color: red;
    text-align: center;
}

.Home {
    color: white;
  }
  
  .Home.dark {
    background-color: rgb(7, 7, 49);

    .crypto-table {
        background-color: rgb(7, 7, 49);
        color:hsl(241, 79%, 62%);
    }
  }

