.welcome-page {
    position: relative;
    padding-bottom: 2%;

    img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        object-position: bottom;
        
    }

    .welcome-text {
        width: 100%;
        position: absolute;
        padding-bottom: 20px;
        top: 15%; 
        left: 50%;
        transform: translate(-50%);
        color: rgb(255, 255, 255);
        font-size: 1.3rem;
        font-style: italic;
        font-weight: 800;
        text-align: center;
    }

    h1 {
        margin-bottom: 2%;
        font-size: 3rem;
        color: white;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    
    button {
        width: 160px;
        height: 40px;
        gap: 20px;
        border-radius: 20px;
        background-color: white;
        color: hsl(241, 79%, 62%);
        border: none;
        margin-top: 2%;
        font-size: 1rem;

        &:hover {
        background-color: orange;
        color: white;
        }
    }
}

.top10 {
    padding: 12px 15px;
    margin: auto;
    margin-bottom: 20px;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background:hsl(241, 47%, 82%);
    color: hsl(241, 79%, 62%);
    font-weight: bold;

    button {
        border-radius: 10px;
        background-color: hsl(241, 79%, 62%);;
        color: white;
        width: 120px;
        height: 30px;
        cursor: pointer;
    }
    
}

// .crypto-table {
//    max-width: 800px;
//    margin: auto;
//    background:hsl(241, 79%, 62%);
//    border-radius: 15px;
//    color: white;
// }

// .table-layout {
//     display: grid;
//     grid-template-columns: 0.3fr 1.5fr 0.7fr 1fr 1fr 1.5fr;
//     padding: 15px 20px;
//     align-items: center;

//     .market-cap {
//         text-align: right;
//     }

// }


// .table-layout div {
//     display: flex;
//     align-items: center;
//     gap: 10px;

//     img {
//         width: 35px;
//     }
// }

// .green {
//     color: rgb(4, 97, 4);
//     text-align: center;
// }

// .red {
//     color: red;
//     text-align: center;
// }

.Home {
    color: white;
  }
  
  .Home.dark {
    background-color: rgb(7, 7, 49);

    .crypto-table {
        background-color: rgb(7, 7, 49);
        color:hsl(241, 79%, 62%);
    }

    .welcome-text {
        color: rgb(7, 7, 49);

        h1 {
            color: rgb(7, 7, 49);
        }

        button {
            background-color: rgb(7, 7, 49);

            &:hover {
                background-color: orange;
                }
        }
    }
  }


  @media only screen and (max-width: 900px) {
    .welcome-text {
        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.2rem;
        }
        
        
    }
  }

  @media only screen and (max-width: 750px) {
.welcome-text {
    h1 {
        font-size: 2.2rem;
    }
    p {
        font-size: 1.1rem;
    }
    button {
        width: 140px;
        height: 35px;
}
}
  }

  @media only screen and (max-width: 650px) {
    .welcome-text {
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: 1.0rem;
        }
        button {
            width: 120px;
            height: 35px;
    }
      }

      .top10 {
        padding: 10px 10px;

      }
    }

    @media only screen and (max-width: 550px) {
        .welcome-text {
            h1 {
                font-size: 1.6rem;
            }
            p {
                font-size: 0.7rem;
            }
            button {
                width: 100px;
                height: 30px;
                font-size: 0.8rem;
        }
          }

          .top10 {
            padding: 8px 10px;
            font-size: 0.9rem;
            button {
                 width: 110px;
                  height: 30px;
                  font-size: 0.8rem;
    }
        }
    }

        @media only screen and (max-width: 450px) {
            .welcome-text {
                h1 {
                    font-size: 1.3rem;
                }
                p {
                    font-size: 0.6rem;
                }
                button {
                    width: 90px;
                    height: 25px;
                    font-size: 0.7rem;
            }
              }
              .top10 {
                padding: 5px 8px;
                font-size: 0.7rem;
                button {
                     width: 100px;
                      height: 25px;
                      font-size: 0.6rem;
        }
            }
    
            }

            @media only screen and (max-width: 350px) {
                .welcome-text {
                    h1 {
                        font-size: 1.2rem;
                    }
                    
                    button {
                        width: 80px;
                        height: 20px;
                        font-size: 0.6rem;
                }
                  }
                  .top10 {
                    padding: 5px 8px;
                    font-size: 0.6rem;
                    button {
                         width: 80px;
                          height: 20px;
                          font-size: 0.5rem;
            }
                }
                }


