.navbar {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0.5% ;
    color: hsl(241, 79%, 62%);
    // border-bottom: 2px solid #5f68ee;
   position: relative;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: flex-end;
    width: 20%;

img {
    width: 22%;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2%;
}

h3 {
  font-size: 1.6rem;
}
}
    .navbar.dark {
        background-color: rgb(7, 7, 49);
      
        .nav-home {
          color: white;
        }
        
          .DarkThemeIcon img {
              filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(321deg)
                brightness(110%) contrast(110%);
          }

          .hamburger{
            filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(321deg)
                brightness(110%) contrast(110%);
          }

           .nav-links {
            background-color: rgb(7, 7, 49);
          }

         .nav-links li {
            color: white;
          }
}


    .nav-links {
      width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        transition: transform 0.3s ease-in-out;
        
        &.open {
          transform: translateX(0);
    }
  }
        
        li {
                    cursor: pointer;
                    padding: 8px;
                    border-radius: 7px;
                    
                &:hover {
                    background-color: hsl(241, 79%, 62%);
                    color: white;
                
                }
            }

    .start {
                padding: 7px;
                width: 120px;
                border-radius: 10px;
                background-color: hsl(241, 79%, 62%);;
                color: white;

            }
    
    .left-side-nav, .right-side-nav {
        display: flex;
        align-items: center;
        gap: 20px ;
    }


    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
         border: none;
        background: none;
    }

    .DarkThemeIcon {
      height: 20px;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;

    }

    @media only screen and (max-width: 900px) {
      .nav-links li {
  padding: 4px;
}

.start {
  padding: 4px;
}

    .logo h3 {
      font-size: 1.3rem;
    }

    .left-side-nav, .right-side-nav {
      gap: 8px;
    }


    }
    @media only screen and (max-width: 820px) {

      .logo h3 {
        font-size: 1.1rem;
      }
      
      .nav-links {
        width: 75%;
      }
      .left-side-nav, .right-side-nav {
        gap: 1px;
      }
    }

   

    @media only screen and  (max-width: 720px) {

       .logo h3 {
          font-size: 1rem;
        }
        .nav-links{
        display: none;
          position: absolute;
          top: 35px;
          right: 0;
          background-color: white;
          list-style: none;
          width: 30%;
          z-index: 1000;
          
        li {
          padding: 10px;
        }

        }
      
        .nav-links.open {
          display: flex;
          flex-direction: column;

          .left-side-nav, .right-side-nav {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            gap: 5px;
        }
        .DarkThemeIcon {
          padding-right: 20%;
          margin-bottom: 10px;
        }
        }
      
        .hamburger {
          display: flex;
      
        }
        
  }

  @media only screen and  (max-width: 600px) {
    .logo h3 {
      font-size: 0.9rem;
    }

    .nav-links {
      width: 40%;
      top: 30px;
    }
  }

  @media only screen and  (max-width: 440px) {
    .logo h3 {
      font-size: 0.8rem;
    }

    .nav-links {
      width: 50%;
    }
  }


  



