.navbar {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 12px 10px;
    // padding-bottom: 15px;
    color: hsl(241, 79%, 62%);
    border: none;
   position: relative;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  // position: sticky;
  // top: 0;
}

.logo {
    display: flex;
    align-items: flex-end;
    width: 20%;

img {
    width: 25%;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2%;
}

h3 {
  font-size: 1.6rem;
}
}

.nav-links {
  width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    transition: transform 0.3s ease-in-out;
    
    &.open {
      transform: translateX(0);
}
}
    
    li {
                cursor: pointer;
                padding: 8px;
                border-radius: 7px;
                font-size: 1.2rem;
                
            &:hover {
                background-color: hsl(241, 79%, 62%);
                color: white;
            
            }
        }

.start {
            padding: 7px;
            width: 120px;
            border-radius: 10px;
            background-color: hsl(241, 79%, 62%);;
            color: white;

        }

.left-side-nav, .right-side-nav {
    display: flex;
    align-items: center;
    gap: 20px ;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
     border: none;
    background: none;

    img {
      width: 30px ;
      margin: 5px;
    }
}

.DarkThemeIcon {
  width: 20px;
  background: none;
  border: none;
  cursor: pointer;

}


.navbarContainer.dark {
  background-color: #070731;

  .navbarContainer {
    color: white;
  }

  .DarkThemeIcon img {
    filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(321deg)
      brightness(110%) contrast(110%);
}

.hamburger{
  filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(321deg)
      brightness(110%) contrast(110%);
}

           .nav-links {
            background-color: rgb(7, 7, 49);
          }

}

@media only screen and (max-width: 1000px) {
  .nav-links li {
    font-size: 1.1rem;
    padding: 4px;
  }

  .logo h3 {
    font-size: 1.4rem;
  }
}
    

    @media only screen and (max-width: 900px) {
      .nav-links li {
        font-size: 1.0rem;
}

.start {
  padding: 5px;
  font-size: 0.9rem;
}

    .logo h3 {
      font-size: 1.3rem;
    }

    .left-side-nav, .right-side-nav {
      gap: 10px;
    }


    }
    @media only screen and (max-width: 800px) {
      .navbar {
        padding: 5px 5px;
      }

      .logo h3 {
        font-size: 1.1rem;
      }
      
      .nav-links {
        width: 72%;
        li {
          font-size: 0.9rem;
        }
      }
      .left-side-nav, .right-side-nav {
        gap: 5px;
      }

      .DarkThemeIcon {
        width: 16px;
        padding-top: 3px;
      }

      .start {
        font-size: 0.8rem;
      }
    }

   

    @media only screen and  (max-width: 700px) {

      .navbar {
        padding: 8px 6px;
      }

       .logo h3 {
          font-size: 1rem;
        }
        .nav-links{
          padding: 10px;
        display: none;
          position: absolute;
          top: 45px;
          right: 0;
          background-color: white;
          list-style: none;
          width: 30%;
          z-index: 1000;
          
        li {
          padding-bottom: 7px;
        }

        }
      
        .nav-links.open {
          display: flex;
          flex-direction: column;

          .left-side-nav, .right-side-nav {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
        }
        .DarkThemeIcon {
          padding-right: 20%;
        }
        }
      
        .hamburger {
          display: flex;
        }
        
  }

  @media only screen and  (max-width: 600px) {

    .navbar {
      padding: 6px 6px;
    }

    .nav-links {
      top: 40px;
      li {
        font-size: 0.8rem;
        padding-bottom: 4px;
        
      }
    }
    .hamburger img {
      width: 25px ;
      margin: 2px;
    }

    .start {
      font-size: 0.6rem;
      padding: 4px;
    }
  }

  @media only screen and  (max-width: 500px) {
    .navbar {
      padding: 3px 4px;
    }
    
.logo h3 {
      font-size: 0.8rem;
    }
    .nav-links {
      top: 35px;
    li {
      font-size: 0.7rem;
      padding-bottom: 3px;
    }
  }

  .hamburger img {
    width: 20px ;
  }
  }

  @media only screen and  (max-width: 400px) {
    .logo h3 {
      font-size: 0.7rem;
    }

    .nav-links {
      width: 100%;
      top: 30px;
    }

    .nav-links.open .DarkThemeIcon {
      padding-right: 5px;
    }
  }

  @media only screen and  (max-width: 350px) {
    .logo h3 {
      font-size: 0.6rem;
    }

    .hamburger img {
      width: 15px ;
    }
  }


  



